#calendar ul {
    list-style-type: none;
    padding-left: 10px;
    margin: 0 0 0.83em;
}

#calendar time {
    font-family: Yanone Kaffeesatz Title, sans-serif;
    font-size: 1.1em;
    margin-left: -10px;
    display: block;
}

#calendar a.more {
    font-size: small;
}
